<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login - Agência de Turismo</title>
    <link rel="stylesheet" href="css/padrao.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="authentication-login.php" method="POST" accept-charset="utf-8" class="form-login">
            
            <h3 class="form-login-heading">Login</h3>
            <h6 class="form-login-sub-heading">Digite o e-mail e senha</h6>
            <label for="inputEmail" class="sr-only">Usuário:</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Senha:</label>
            <input type="password" name="senha" id="inputPassword" class="form-control" placeholder="Senha" required>
            
            <button type="submit">Entrar</button>
            <label><a href="Tela-Cadastro.html">Cadastre-se</a></label>
            
        </form>
    </div>
</body>
</html>