<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset = "utf-8">
	<meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
	<title>Informações - Agência de Turismo MiniAgua</title>
	<link rel = "stylesheet" type = "text/css" href="lala.css">
	
</head>
<body>
	<form class="container" action="" method="POST">
		<div><img src="1.jpg" width="30px" height="30px"></div>
		<label name="nome">Nome: </label>
		<input type="text" name="Nome Completo" disabled></br></br>
		
		<label name="endereco">Endereço: </label>		
		<input type="text" name="Endereço" disabled></br></br>
		
		<label name="fone">Fone: </label>
		<input type="text" name="Fone"disabled></br></br>
		
		<label name="rg">RG: </label>
		<input type="text" name="RG"disabled></br></br>
		
		<label name="cpf">CPF: </label>
		<input type="text" name="CPF"disabled></br></br>
		
		<label name="login">Login: </label>
		<input type="text" name="Login"disabled></br></br>
		
		<label name="senha">Senha: </label>
		<input type="text" name="Senha"disabled></br></br>
	</form>
		
		
	
</body>

</html>