<!DOCTYPE html>
<html>
<head>
	<meta charset ="utf-8">
	<meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
	<title>Resumo Da Viagem</title>
	<link rel = "stylesheet" type = "text/css" href="lala.css">
	
</head>
<body>

	<h1 style="font-size:300%;"><i>Viagem cadastrada com sucesso!</i></h1>
	<p style="font-size:160%;">Resumo da viagem: </p>
	
	<label name="nome">Destino: </label>
	<input type="text" name="Destino" disabled></br></br>
	
	<label name="nome">Transporte: </label>
	<input type="text" name="Transporte" disabled></br></br>

	<label name="nome">Hotel: </label>
	<input type="text" name="Hotel" disabled></br></br>

	<label name="nome">Diarias: </label>
	<input type="text" name="Diarias" disabled></br></br>

	<label name="nome">Translado: </label>
	<input type="text" name="Translado" disabled></br></br>
	
	<label name="nome">Passeio: </label><br>
	<textarea name="Passeio" rows="10" cols="30" disabled >
	</textarea>
	</form>
	</body>
</html> 