<!Doctype html>
<head>
	<meta charset ="utf-8">
	<meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
	<title> Cadastro </title>
	<link rel = "stylesheet" type = "text/css" href="lala.css">
	
</head>
<body>
	<form class="container" action="info-cadastro.php" method="POST">
		Nome: <input type="text" name="Nome" required autofocus></br></br>
		Sobrenome: <input type="text" name="Sobrenome" required></br></br>
		Endereço: <input type="text" name="Endereco" required></br></br>
		Fone: <input type="tel" name="Fone" required></br></br>
		RG: <input type="text" name="RG" required></br></br>
		CPF: <input type="text" name="CPF" required></br></br>
		Login: <input type="text" name="Login" id="inputEmail" required></br></br>
		Senha: <input type="password" name="Senha" required></br></br>
		<input type="file" name="Foto"  value="Procurar" id="procurar"></br></br>
		<input type="submit" name="Cadastrar" value="Cadastrar">
    </form>
</body>
</html>